
.main{
    display:flex;
    justify-content: center; 
    width:100%;
}
.content{
    border: 2px solid black;
}
.nd{
    padding: 0 15px; 
}
.td{
    margin:0;
    text-align: center;
    margin-top: -21px;
    color:white;
    background-color: black;
}
#hoten,#masv,#date{
    margin-left: 20px;
    color:red;
}
